@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ParadoX World</h1>
    <p>A brain teaser quiz test</p>



    <a asp-controller="Quiz" asp-action="Index"
       class="btn pastel-btn btn-lg mt-3">
        Start Quiz
    </a>

   

    <style>
        .pastel-btn {
            background-color: #4c94fc;
            color: black;
            border: none;
            padding: 10px 30px;
            transition: background-color 0.3s ease;
        }

            .pastel-btn:hover {
                background-color: #ee3e38;
                color: white;
            }
    </style>


</div>
